[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
django = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-crispy-forms = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
