{% extends "index.html" %}

{% block content %}
<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount of books</th>
    </tr>
  </thead>
  <tbody>
    {% for author in authors %}
      <tr>
        <th scope="row">{{ author.id }}</th>
        <th scope="col"> <a href="{% url 'choose_author' author.id  %}">{{ author.name }}</a></th>
        <th scope="col">{{ author.num_books }}</th>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
