{% extends "index.html" %}

{% block content %}
<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Grade</th>
      <th scope="col">Age</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <th scope="row">{{ book.id }}</th>
        <td>{{ book.name }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.rating }}</td>
        <td>{{ book.authors }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.pubdate }}</td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
