<!doctype html>
<html lang="en">
  <head>
    <title>Catalog</title>
  </head>
  <body>
      <h2>Catalog:</h2>
      <ul type="square">
          <li><a href="{% url 'authors' %}">All authors</a><br></li>
          <li><a href="{% url 'publishers' %}">All publishers</a></li>
          <li><a href="{% url 'stores' %}">All stores</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
        </ul>
      <br>
  <main>
    {% block content %}

    <p>In this catalog now:</p>
      <p>Authors - {{ amount_authors }}</p>
      <p>Publishers - {{ amount_publishers }}</p>
      <p>Stores - {{ amount_stores }}</p>
      <p>Books - {{ amount_books }}</p>

    {% endblock %}
  </main>
  </body>
</html>
